@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
    ;
 line-height: 1.7;
 background: #f4f4f4;
}

.custom-bg {
    background:#39a0ca !important;
}

.to-show {
    display: none;
}

#today-weather {
    border: 2px solid #000;
    display: none;
}

#today-weather h3 p {
    padding-left: 10px;
}

#card-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card {
    margin: 10px;
    background: #12343b;
    color: #fff;
}

button {
    margin: 10px;
    width: 100%;
}




